<div class="container app">
  <h1 style="color: blue; text-align: center; margin: 30px 0 20px;">Spring boot and Angular Application Customer Curd</h1>

  <ul>
     <li> <a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
      <li> <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a></li>
      <li> <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a></li>
  </ul>

  <router-outlet></router-outlet>
</div>